<div class="cl-main-widget-reward-header">
  <div class="cl-main-widget-reward-header-back"></div>
  <div class="cl-main-widget-reward-header-label">{{ headerLabel }}</div>
  <div class="cl-main-widget-reward-header-date"></div>
  <div class="cl-main-widget-reward-header-close"></div>
</div>
<div class="cl-main-widget-reward-details">
  <div class="cl-main-widget-reward-details-info">
    <div class="cl-main-widget-reward-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-reward-details-content">
    <div class="cl-main-widget-reward-details-content-label"></div>
    <div class="cl-main-widget-reward-details-content-date"></div>
  </div>
</div>
<div class="cl-main-widget-reward-list">
  <div class="cl-main-widget-reward-list-body">
    <div class="cl-main-widget-reward-list-body-res"></div>
  </div>
</div>
<div class="cl-main-widget-reward-details-container">
  <div class="cl-main-widget-reward-details-wrapper">
    <div class="cl-main-widget-reward-details-header">
      <a class="cl-main-widget-reward-details-back-btn"></a>
      <div class="cl-main-widget-reward-details-close"></div>
    </div>
    <div class="cl-main-widget-reward-details-body-container">
      <div class="cl-main-widget-reward-details-value">10</div>
      <div class="cl-main-widget-reward-details-type">Free spins</div>
      <div class="cl-main-widget-reward-details-expires">Expires in <span class="cl-main-widget-reward-details-expires-value">7 Days</span></div>

      <div class="cl-main-widget-reward-details-games-label">Use in following game</div>
      <div class="cl-main-widget-reward-details-games">Thumbs</div>

      <div class="cl-main-widget-reward-details-content-wrapp">
        <div class="cl-main-widget-reward-details-content-header">
          Free spin Details <div class="cl-main-widget-reward-details-content-wrapp-expand expand-item"></div>
        </div>
        <div class="cl-main-widget-reward-details-content-body">
          <div class="cl-main-widget-reward-details-content-body-item">
            <div class="cl-main-widget-reward-details-content-body-item-label">Number of Free Spins</div>
            <div class="cl-main-widget-reward-details-content-body-item-value">10/15</div>
          </div>
          <div class="cl-main-widget-reward-details-content-body-item">
            <div class="cl-main-widget-reward-details-content-body-item-label">Credited on</div>
            <div class="cl-main-widget-reward-details-content-body-item-value">12.12.23</div>
          </div>
          <div class="cl-main-widget-reward-details-content-body-item">
            <div class="cl-main-widget-reward-details-content-body-item-label">Expires on</div>
            <div class="cl-main-widget-reward-details-content-body-item-value">24.12.23</div>
          </div>
          <div class="cl-main-widget-reward-details-content-body-item">
            <div class="cl-main-widget-reward-details-content-body-item-label">Campaign</div>
            <div class="cl-main-widget-reward-details-content-body-item-value">Snowy December Mission</div>
          </div>
        </div>
      </div>

      <div class="cl-main-widget-reward-details-tc-wrapp">
        <div class="cl-main-widget-reward-details-tc-header">
          Terms and Conditions <div class="cl-main-widget-reward-details-tc-wrapp-expand expand-item"></div>
        </div>
        <div class="cl-main-widget-reward-details-tc-body">
          Nunc ultricies ornare bibendum. Donec ultricies sit amet diam sed lobortis. Nam non lobortis ex.
        </div>
      </div>

      <div class="cl-main-widget-reward-details-forfeit">Forfeit Reward</div>
    </div>
  </div>
</div>