<div class="cl-main-widget-reward-header">
  <div class="cl-main-widget-reward-header-back"></div>
  <div class="cl-main-widget-reward-header-label">{{ headerLabel }}</div>
  <div class="cl-main-widget-reward-header-close"></div>
</div>
<div class="cl-main-widget-reward-details">
  <div class="cl-main-widget-reward-details-info">
    <div class="cl-main-widget-reward-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-reward-details-content">
    <div class="cl-main-widget-reward-details-content-label"></div>
    <div class="cl-main-widget-reward-details-content-date"></div>
  </div>
</div>
<div class="cl-main-widget-reward-list">
  <div class="cl-main-widget-reward-list-body">
    <div class="cl-main-widget-reward-list-body-res"></div>
  </div>
</div>
<div class="cl-main-widget-reward-details-container">
  <div class="cl-main-widget-reward-details-wrapper">
    <div class="cl-main-widget-reward-details-header">
      <a class="cl-main-widget-reward-details-back-btn"></a>
      <div class="cl-main-widget-reward-details-close"></div>
    </div>
    <div class="cl-main-widget-reward-details-body-container">
      <div class="cl-main-widget-reward-details-value">-</div>
      <div class="cl-main-widget-reward-details-type">-</div>
      <div class="cl-main-widget-reward-details-expires">Expires <span class="cl-main-widget-reward-details-expires-value">-</span></div>

      <div class="cl-main-widget-ach-details-games">
        <div class="cl-main-widget-ach-details-games-label">Use in following games</div>
        <div class="cl-main-widget-ach-details-game-items reward-games">
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
        </div>
      </div>

      <div class="cl-main-widget-reward-details-content-wrapp">
        <div class="cl-main-widget-reward-details-content-header">
          Free spin Details <div class="cl-main-widget-reward-details-content-wrapp-expand expand-item"></div>
        </div>
        <div class="cl-main-widget-reward-details-content-body">
          <div class="cl-main-widget-reward-details-content-body-item">
            <div class="cl-main-widget-reward-details-content-body-item-label">Total Rewarded Freespins</div>
            <div class="cl-main-widget-reward-details-content-body-item-value reward">-</div>
          </div>
          <div class="cl-main-widget-reward-details-content-body-item">
            <div class="cl-main-widget-reward-details-content-body-item-label">Credited on</div>
            <div class="cl-main-widget-reward-details-content-body-item-value">-</div>
          </div>
          <div class="cl-main-widget-reward-details-content-body-item">
            <div class="cl-main-widget-reward-details-content-body-item-label">Expires on</div>
            <div class="cl-main-widget-reward-details-content-body-item-value expires">-</div>
          </div>
          <div class="cl-main-widget-reward-details-content-body-item">
            <div class="cl-main-widget-reward-details-content-body-item-label">Campaign</div>
            <div class="cl-main-widget-reward-details-content-body-item-value campaign">-</div>
          </div>
        </div>
      </div>

      <div class="cl-main-widget-reward-details-tc-wrapp">
        <div class="cl-main-widget-reward-details-tc-header">
          Terms and Conditions <div class="cl-main-widget-reward-details-tc-wrapp-expand expand-item"></div>
        </div>
        <div class="cl-main-widget-reward-details-tc-body">
          Nunc ultricies ornare bibendum. Donec ultricies sit amet diam sed lobortis. Nam non lobortis ex.
        </div>
      </div>

      <div class="cl-main-widget-reward-details-forfeit">Forfeit Reward</div>
    </div>
  </div>
</div>