<div class="cl-main-widget-error-header">
  <div class="cl-main-widget-error-header-back"></div>
  <div class="cl-main-widget-error-header-label">{{ errorLabel }}</div>
  <div class="cl-main-widget-error-header-close"></div>
</div>
<div class="cl-main-widget-error-body">
  <div class="cl-main-widget-error-body-icon"></div>
  <div class="cl-main-widget-error-body-title">{{ errorTitle }}</div>
  <div class="cl-main-widget-error-body-description">{{ errorDescription }}</div>
</div>