<div class="cl-main-widget-reward-celebration-header">
  <div class="cl-main-widget-reward-celebration-header-name">Mission name</div>
  <div class="cl-main-widget-reward-celebration-header-completed">Mission Completed</div>
  <div class="cl-main-widget-reward-celebration-header-reward">You earned a reward</div>
</div>

<div class="cl-main-widget-reward-celebration-body">
  <div class="dashboard-rewards-list-item">
    <div class="dashboard-rewards-list-item-info">
      <div class="dashboard-rewards-list-item-expires">
        <div class="dashboard-rewards-list-item-expires-label">Expires</div>
        <div class="dashboard-rewards-list-item-expires-value">Today 17:00</div>
      </div>
      <div class="dashboard-rewards-list-item-reward">
        <div class="dashboard-rewards-list-item-reward-value">15</div>
        <div class="dashboard-rewards-list-item-reward-type">Free Spins</div>
      </div>
    </div>
    <div class="dashboard-rewards-list-item-img" style="background-image: url(https://first-space.cdn.ziqni.com/Banners/games.png)"></div>
  </div>
  <div class="cl-main-widget-reward-celebration-body-t-and-c">Terms and Conditions</div>
</div>

<div class="cl-main-widget-reward-celebration-actions">
  <div class="cl-main-widget-reward-celebration-actions-clime-btn">Claim Reward</div>
  <div class="cl-main-widget-reward-celebration-actions-decline">Decline Reward</div>
</div>
