<div class="rewards-list-item-empty-img">
  <svg xmlns="http://www.w3.org/2000/svg" width="57" height="56" viewBox="0 0 57 56" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1833 10.5H41.9834L52.4167 20.9333L29.0833 44.2666L5.75 20.9333L16.1833 10.5ZM26.4278 12.6999H18.165L20.2307 18.897L26.4278 12.6999ZM18.2239 19.8333L16.1582 13.6362L9.96105 19.8333H18.2239ZM9.96105 22.0332H19.0247L25.8224 37.8946L9.96105 22.0332ZM32.3442 37.8946L48.2056 22.0332H39.142L32.3442 37.8946ZM39.9428 19.8333H48.2056L42.0085 13.6362L39.9428 19.8333ZM40.0017 12.6999H31.7388L37.936 18.897L40.0017 12.6999ZM35.7612 19.8333H22.4055L29.0833 13.1555L35.7612 19.8333ZM21.4181 22.0332H36.7486L29.0833 39.9187L21.4181 22.0332Z" fill="white"/>
  </svg>
</div>
<div class="rewards-list-item-empty-title">{{ emptyTitle }}</div>
<div class="rewards-list-item-empty-content">{{{ emptyDescription }}}</div>