<div class="play-single-wheel-back-btn"></div>
<div class="play-single-wheel-title">{{ title }}</div>
<div class="play-single-wheel-title-sub">{{ subTitle }}</div>
<div class="play-single-wheel-body">
    <div class="play-single-wheel-spinner" id="play-single-wheel"></div>
</div>
<canvas id="confetti"></canvas>